<div id="mensagem-e-horario-resposta">
    <div class="message outgoing">
        <div class="message-content">
            <p>@(new MarkupString(conversa.Resposta))</p>
        </div>
    </div>
    <div style="display: block; text-align: left;">
        <span class="message-timestamp">@conversa.HoraComMinuto</span>
    </div>
</div>
