<div>
    <div class="message incoming">
        <div class="message-content">
            <p>@(new MarkupString(conversa.Pergunta))</p>
        </div>
    </div>
    <div style="display: block; text-align: right;">
        <span class="message-timestamp">@conversa.HoraComMinuto</span>
    </div>
</div>

