<div id="mensagem-e-horario-resposta">
    <div class="message outgoing">
        <div class="message-content">
            <p>
                @(new MarkupString($"<p>{Saudacao}, sou a <b>Funny</b> sua atendente virtual da FunTV. Favor informar seu CPF.</p>"))
            </p>
        </div>
    </div>
    <div style="display: block; text-align: left;">
        <span class="message-timestamp">@HoraComMinuto</span>
    </div>
</div>
