<div id="chat-main-container">
    <div class="chat-container">
        <div class="chat-header">
            <button id="close" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            <div class="config-titulo">
                @TituloChat
            </div>
        </div>
        <div class="chat-body">
            <MensageInicialComponent />
            @foreach (var mensagem in ListaMensagens)
            {
                if (mensagem.InteracaoUsuario)
                {
                    <MensagemPerguntaComponent conversa="mensagem"></MensagemPerguntaComponent>
                }else{
                    <MensagemRespostaComponent conversa="mensagem"></MensagemRespostaComponent>
                }                                  
            }
        </div>
        <div class="chat-input">
            <button id="file-input" class="attach-button"><i class="fas fa-paperclip"></i></button>
            <input id="mensagem" @bind="mensagem" type="text" placeholder="Envio sua mensangem...">
            <button id="send-message" @onclick="EnviarMensagem" class="send-button" ><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
