<div id="chat-main-container">
    <div class="chat-container">
        <div class="chat-header">
            <button id="close" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            <div class="config-titulo">
                @TituloChat
            </div>
        </div>
        <div class="chat-body">
            @foreach (var message in Mensagens)
            {
                <div id="mensagem-e-horario-resposta">
                    <div class="message outgoing">
                        <div class="message-content">
                            <p>@(new MarkupString(message))</p>
                        </div>
                    </div>
                    <div style="display: block; text-align: left;">
                        <span class="message-timestamp">@HoraMensagem</span>
                    </div>
                </div>                              
            }
        </div>
        <div class="chat-input">
            <button id="file-input" class="attach-button"><i class="fas fa-paperclip"></i></button>
            <input id="mensagem" @bind="mensagem" type="text" placeholder="Envio sua mensangem...">
            <button id="send-message" @onclick="SendMessage" class="send-button" ><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
