@page "/conversa"

<h3>Procurar Conversa</h3>

<ProcuraItemComponent OnSearch="HandlerSearch" TituloBotao="Procurar Conversa por Pergunta"></ProcuraItemComponent>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pergunta</th>
            <th>Resposta</th>
            <th>Status Conversa</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if (Conversas != null && Conversas.Count() > 0)
        {
            @foreach (var conversa in Conversas)
            {
                <ConversaItemComponent Conversa="conversa"></ConversaItemComponent>
            }
        }
        else
        {
            <tr>
                <td id="nao-encontrado" colspan="4">
                    Não foi possível encontrar a conversa
                </td>
            </tr>
        }
    </tbody>
</table>