@page "/cliente"

<h3>Procurar Cliente</h3>

<ProcuraItemComponent OnSearch="HandlerSearch" TituloBotao="Procurar Cliente por Nome"></ProcuraItemComponent>
<table class="table">
    <thead>
        <tr>
            <th>IdCliente</th>
            <th>Cpf</th>
            <th>NomeCompleto</th>
            <th>Nome</th>
            <th>Ativo</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if (Clientes != null && Clientes.Count() > 0)
        {
            @foreach (var cliente in Clientes)
            {
               <ClienteItemComponent Cliente="cliente"></ClienteItemComponent>
            }
        }
        else
        {
            <tr>
                <td id="nao-encontrado" colspan="4">
                    Não foi possível encontrar o cliente
                </td>
            </tr>
        }
    </tbody>
</table>
